/* estilos generales */
body{
    font-family: Arial, sans-serif;
    background-color: #332115;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* contenedor principal */
#juego-contenedor {
    background-color:#A98A5B;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    text-align: center;
        
}

/* saco de dinero */
#saco-dinero{
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: inline-block;
    animation: entrar 1s forwards;
}

#img-saquito{
    width: 90px;
}

#dinero-display{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

/* examen  top secret ---------------------------------------*/
#top-secret{
    font-family: 'Courier New', Courier, monospace;
    background-color:  #b0b0b0;
    position: fixed ;
    bottom: 10px;
    right: 20px;
    max-width: 110px;
    text-align: center;
    transition: transform 0.4s;
    border: 1px solid black;
    max-height: 70px;
    border-radius: 4px;
}
#top-secret:hover {
    transform: translateY(-120px); 
}

#carta-secret{
    background-color: #b0b0b0;
  
}


/* imagen del avatar */
#player-img {
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    border: 3px solid #6C4B2E;
    margin-bottom: 15px;
    object-fit: cover;
}


/* logica de escenas */
.oculto {
    display: none;
}

.escena {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #A98A5B;
}


/* estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.linea-formulario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 350px;
}
input{
    display:flex;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    background-color: #f1c40f;
    color: #333;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #d4ac0d;
    transform: scale(1.05);
}

/* mercado */

.grid-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    padding: 10px;
    max-width: 900px;
    margin: auto;

    
}

.tarjeta-producto {
    background-color: #d4a356; 
    border: 4px solid #8b4513;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: black;

}

.tarjeta-producto img {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid #333;
    margin-bottom: 10px;
}

.btn-add {
    background-color: #f1c40f;
    border: 1px solid #8b4513;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
}

.en-cesta {
    background-color: #f1c40f !important; 
    border-color: #27ae60;
}

/* barra de inventario*/
.seccion-inventario {
    margin-top: 20px;
    text-align: center;
}

.grid-inventario {
    display: flex;
    gap: 10px;
    background-color: #5d4037; 
    padding: 10px;
    border: 2px solid #d4a356;
}

.slot {
    width: 95px;
    height: 95px;
    padding: 15px;
    background-color: #8b4513;
    border: 1px solid #3e2723;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #ffd700;
}

.tarjeta-comprada {
    background-color: #ced692;
    border: 3px solid #585d01;
}

/* mini animacion */
.slot img {
    transition: transform 0.3s ease;
    cursor: pointer; 
}

.slot img:hover{
    transform: translateY(-10px) scale(1.1);
}

/* escena 3 */
.stats-finales p{
    font-size: 1.5rem;
    margin: 10px;
}

#inventario-perfil .slot {
    width: 100px; 
    height: 70px; 
    max-width: 100px;

}

.grid-inventario {
    display: flex;
    justify-content: center;
    gap: 10px;    
    margin-top: 20px;
    
}


/* escena 4 */


.grid-enemigos {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 20px;              
    padding: 40px 20px;
    flex-wrap: wrap;         
}


.carta-enemigo {
    background-color: #d4a356;
    border: 4px solid #5d2e17;
    border-radius: 15px;
    width: 180px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    transition: transform 0.2s;
}

.carta-enemigo:hover {
    transform: translateY(-5px); /* efecto al pasar el raton */
}

.carta-enemigo img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.carta-enemigo h3 {
    margin: 10px 0 5px 0;
    font-size: 1.2rem;
    color: #000000;
}

.carta-enemigo p {
    font-size: 0.9rem;
    color: #000000;
    margin-bottom: 15px;
}


.btn-luchar {
    background-color: #f1c40f;
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn-luchar:hover {
    background-color: #d4ac0d;
}

.saco-dinero span {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}


.seccion-inventario {
    margin-top: 20px;
    text-align: center;
}

.grid-inventario {
    display: flex;
    gap: 10px;
    background-color: #5d4037; 
    padding: 10px;
    border: 2px solid #d4a356;
}

.slot {
    width: 90px;
    height: 90px;
    padding: 15px;
    background-color: #8b4513;
    border: 1px solid #3e2723;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #ffd700;
}

/* escena 5 */
.enfrentamiento {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.combatiente img {
    width: 250px; 
    height: 250px;
    object-fit: cover;
    border: 5px solid #5d2e17;
}

.vs {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.resultado-box {
    text-align: center;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    margin: 20px auto;
}

.monedas {
  position: absolute;
  transform: translateY(-100vh);
  top: 0;
  bottom: 50vh;
  width: 100%;
  display: block;
  animation: fall 1.5s ease;
}

/* caen monedas */
.monedas img {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50vh;
  transform: translateY(-100vh);
  animation-name: fall, rotate;
}
#moneda-1, #moneda-2, #moneda-3 {
  animation: rotate 1.5s ease infinite; 
}

#moneda-1 {
  left: 25vw;
}
 #moneda-2 {
  left: 50vw;
 }

 #moneda-3 {
  left: 75vw;
 }


/* escena 6 */
.resultado-final-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
    color: white;
}

#rango-final {
    font-size: 3rem;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    margin-bottom: 10px;
}

.texto-puntos {
    font-size: 1.8rem;
}

#puntos-finales-display {
    color: #f1c40f; 
    font-weight: bold;
}


/* escena 7 */
.tabla-contenedor {
    max-height: 40vh;
    overflow-y: auto; 
    margin: 20px auto;
    width: 80%;
}

#tabla-ranking {
    width: 100%;
    border-collapse: collapse;
    background-color: #d2b48c;
    color: #3e2723;
    font-family: 'Medieval', sans-serif;
    
}

#tabla-ranking  thead th {
    position: sticky;
    background-color: #ffd700; 
    padding: 10px;
    border: 2px solid #5d4037;
    top: 0;

}

#tabla-ranking td {
    padding: 8px;
    border: 1px solid #000000;
    text-align: center;
}

#tabla-ranking tr:nth-child(even) {
   background-color: #5d4037; 
    color: #ffffff;
    
}

#tabla-ranking tbody tr {
    background-color: #c4a484; 
    color: #3e2723;
}

/* pares */
#tabla-ranking tbody tr:nth-child(even) {
    background-color: #5d4037; 
    color: #ffffff;            
}


/* animaicones */

/* saquito */
@keyframes entrar{
    from { left: -150px};
}


/* icono compra */
.icono-compra {
    position: absolute;
    color: #ffd700; 
    font-weight: bold;
    font-size: 24px;
    pointer-events: none; 
    animation: flotarYDesaparecer 1s ease-out forwards;
    z-index: 1000;
}

/* icono compra */
@keyframes flotarYDesaparecer {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}


/* jugador */
@keyframes entradaJugadorDerecha {
    0% { transform: translateX(500%); } /* Fuera por la derecha */
    
    100% { transform: translateX(0); }   /* Vuelve a su sitio */
}

/* enemigo */
@keyframes entradaEnemigoIzquierda {
    0% { transform: translateX(-500%); }

    100% { transform: translateX(0);  }   
}


.animar-entrada-jugador {
    animation: entradaJugadorDerecha 0.8s;
}

.animar-entrada-enemigo {
    animation: entradaEnemigoIzquierda 0.8s;
}



/* responsive*/
/* Tamaños de pantalla: 
- 360 píxeles de ancho
- 720 píxeles de ancho
- 1024 píxeles de ancho */

@media (min-width: 320px) and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin: 1rem;
    text-align: center;
  }

  h2 {
    padding: 0 1rem 0 1rem;
  }

  /* Inventario*/
  #inventory-container {
    display: grid;
    /* Grid de dos columnas: repeat(2, 1fr)*/
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .item {
    width: 40vw;
    height: 40vw;
  }

  /* Tarjeta jugador */
  #player-card h2 {
    font-size: 1.8rem;
  }

  #player-card {
    max-width: 92%;
  }

  #player-photo1,
  #player-photo3 {
    flex: 0 0;
  }

  #player-info .logos img {
    width: 20%;
  }

  #player-card .columns {
    display: flex;
    flex-direction: column;
  }

  #player-info {
    gap: 0.9rem;
  }

  /* Mercado, enemigos*/
  #scene-2 #discount {
    text-align: start;
  }
  #scene-2 .market-container,
  #scene-4 .enemies-container {
    width: 100vw;
    height: auto;
  }

  /* Batallas */
  #scene-5 #fighters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #scene-5 #fighters div {
    max-width: 60%;
    align-content: center;
  }

  #scene-5 #fighters #versus {
    max-width: 30%;
  }

  #scene-5 .battle-winner {
    padding: 1rem;
  }

  /* Ranking */
  #scene-6 .results-container {
    margin: auto 1rem;
  }

  #scene-6 .results-container img {
    max-width: 80%;
}

}

@media (min-width: 700px) and (max-width: 1024px) {
  #player-card h2 {
    font-size: 1.7rem;
  }

  #player-card {
    max-width: 85vw;
  }

  #player-photo1,
  #player-photo3 {
    flex: 0 0 40%;
  }

  #player-info .logos img {
    width: 15%;
  }

  #player-card .columns {
    padding: 0.5rem;
  }

  #player-info {
    gap: 0.9rem;
  }

  #scene-4 .enemies-container {
    width: 85vw;
  }

  #scene-5 .battle-container {
    padding: 1rem;
  }

  #scene-5 #fighters div {
    max-width: 35%;
  }

  #scene-5 #fighters #versus {
    max-width: 15%;
  }
}
