/* estilos generales */
body{
    font-family: Arial, sans-serif;
    background-color: #332115;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* contenedor principal */
#juego-contenedor {
    background-color:#A98A5B;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    text-align: center;
}

/* imagen del avatar */
#player-img {
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    border: 3px solid #6C4B2E;
    margin-bottom: 15px;
    object-fit: cover;
}

/* logica de escenas */
.oculto {
    display: none;
}

.escena {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #A98A5B;
}


/* estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.linea-formulario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 350px;
}
input{
    display:flex;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    background-color: #f1c40f;
    color: #333;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #d4ac0d;
    transform: scale(1.05);
}

